<nav class="navbar navbar-expand-md fixed-top top-page">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rw" tabindex="-1" aria-disabled="true">RW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#developer" tabindex="-1" aria-disabled="true">DEVELOPER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#music" tabindex="-1" aria-disabled="true">MUSIC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" tabindex="-1" aria-disabled="true">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Image Aspect Ratio 2.08 -->
<div class="container-fluid banner">
  <div class="card">
    <img src="<%= image_path('banner.jpeg') %>" alt="banner">
    <div class="card-img-overlay">
      <div class="banner-center">
        <h2 class="banner-text">Playing with Codes & Chords</h2>
        <a class="resume" href="#">Resume</a>
        <div class="center">
          <div class="social-buttons">
            <ul class="social">
              <li><a href="mailto:rw.ryunosuke@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="signature">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="34.924 351.353 548.489 159.86">
            <path fill="none" stroke="white" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round" d="m94.7807 435.5279c0 0-10.0176-34.8445 30.3962-51.4622c7.4622-1.5729 8.4396-.8588 10.9423.2501c32.2674 14.2986-14.6936 64.8845-27.8694 65.3918c-22.6258 11.0063-52.2113 3.9424-28.8498-41.1763c22.3312-43.1292 63.1165-69.2669 78.3261-91.514c10.9506-16.0175 22.7629-33.6452 12.7364-30.2988c-7.1006 2.37-14.4294 11.7642-29.538 43.7761c-15.071 31.9317-31.1284 83.5207-35.5231 97.8627c-4.3945 14.342-18.1116 57.3253-33.1266 66.1837C57.2595 503.399 50.1019 490.7865 50.1019 490.7865"/>
            <path fill="none" stroke="white" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round" d="m50.5401 489.4238c0 0-30.5672-37.6765 117.5202-46.9206c93.7942-5.8549-9.2298 37.7014 49.8491 19.1573c22.5931-7.0917 13.5252-3.7881 48.8892-15.1429c128.0642-41.1191-133.8501 95.4899 161.3334-23.3834c59.2856-23.8749-77.5571 71.3981.0298 24.4477"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Image Aspect Ratio 1.77 -->
<div class="container-fluid two-img-background">
  <div class="row">
    <div class="col-sm-6 pr-0 pl-0">
      <div class="card"> <img class="card-img" src="<%= image_path('image_left.jpg') %>" alt="full stack developer">
        <div class="card-img-overlay"> </div>
      </div>
    </div>
    <div class="col-sm-6 pr-0 pl-0">
      <div class="card"> <img class="card-img" src="<%= image_path('image_right.JPG') %>" alt="musician">
        <div class="card-img-overlay"> </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-page">
  <div class="container about-me">
    <div class="row">
      <div class="col-md-6  pr-0">
        <div class="card"> <img class="card-img w-100" src="<%= image_path('washington.JPEG') %>" alt="photoshoot in Washington">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
      <div class="col-md-6 pl-0" id="about">
        <div class="content">
          <h3>Hi👋, this is Ryu!</h3>
          <h4>Full Stack Developer & Songwriter</h4>
          <hr>
          <p>Passionate and creative being; always eager to support team-mates and colleagues. Background in Entertainment Industry, several years as Account Manager/Operator in Digital Media Supply-Chain.
            Currently studying for AWS Certified Solutions Architect & Introductory to 'The Court of Master Sommelier'.</p>
        </div>
        <div class="content-button">
          <a href="#" class="btn">CONTACT</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid projects portfolio " id="portfolio" style="background-image: url('<%= image_path('portfolio_background.jpeg') %>'),linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), black);"data-controller="scroll">
    <div class="container">
      <h2>Portfolios</h2>
      <div class="row">
        <div class="bx bx-1 fade-in-left">
          <div class="card"> <img class="card-img" src="<%= image_path('coming_soon.jpg') %>" alt="Natural Wine App">
            <div class="card-img-overlay"> <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Natural Wine App</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-2 fade-in-top">
          <div class="card"> <img class="card-img" src="<%= image_path('tangible_gratitude.png') %>" alt="Tangible Gratitude">
            <div class="card-img-overlay"> <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-entertainment-line/32/Apple_Music-512.png" class="music" alt="music icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Tangible Gratitude</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-3 fade-in-bottom">
          <div class="card"> <img class="card-img" src="<%= image_path('yall_rides.png') %>" alt="Y'all Rides">
            <div class="card-img-overlay"> <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Y'all Rides</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bx bx-middle" style="padding: 0;">
          <div class="bx bx-4 fade-in-right">
            <div class="card"> <img class="card-img" src="<%= image_path('for_screenshot.png') %>" alt="Food on Rails">
              <div class="card-img-overlay"> <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png" class="heart" alt="heart icon"></a>
                <div class="bottom-text">
                  <h5 class="card-title">Food on Rails</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="bx bx-5 fade-in-top hidden" data-load-target="cards" data-action="@window->scroll#scrollIntoView">
            <div class="card"> <img class="card-img" src="<%= image_path('jif_screenshot.png') %>" alt="Jenna isn't famous">
              <div class="card-img-overlay"> <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-entertainment-line/32/Apple_Music-512.png" class="music" alt="music icon"></a>
                <div class="bottom-text">
                  <h5 class="card-title">Jenna isn't Famous</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="bx bx-6 fade-in-left">
            <div class="card"> <img class="card-img" src="<%= image_path('bar_xviii.jpeg') %>" alt="Bar XVIII">
              <div class="card-img-overlay"> <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png" class="heart" alt="heart icon"></a>
                <div class="bottom-text">
                  <h5 class="card-title">Bar-VXIII</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid skills-tools">
  <h2>Skills & Tools</h2>
  <h3>AS A DEVELOPER</h3>
  <div class="developer">
    <div class="developer-left">
      <img class="card-img" src="<%= image_path('developer.JPG') %>" alt="full stack developer">
    </div>
    <div class="developer-skills">
      <div class="developer-skills-left">
        <ul>
          <li>
            <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="javascript">
            <p>Javascript</p>
          </li>
          <li>
            <img src="https://cdn0.iconfinder.com/data/icons/long-shadow-web-icons/512/ruby-512.png" alt="ruby">
            <p>Ruby</p>
          </li>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/ruby-on-rails-512.png" alt="ruby on rails">
            <p>Ruby on Rails</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="react">
            <p>React</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-512.png" alt="Python">
            <p>Python</p>
          </li>
        </ul>
      </div>
      <div class="developer-skills-right">
        <ul>
          <li>
            <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/aws-512.png" alt="AWS">
            <p>
              Amazon Web Services (AWS)
            </p>
          </li>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-77-512.png" alt="SQL">
            <p>SQL</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/postgresql-512.png" alt="postgresql">
            <p>PostgreSQL</p>
          </li>
          <li>
            <img src="https://cdn.iconscout.com/icon/free/png-256/heroku-5-569467.png" alt="heroku">
            <p>Heroku</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/136-adobe-512.png" alt="Adobe">
            <p>Adobe Illustrator</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h3>AS A SONGWRITER</h3>
  <div class="songwriter">
    <div class="songwriter-skills">
      <div class="songwriter-skills-left">
        <ul>
          <li>
            <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="javascript">
            <p>Javascript</p>
          </li>
          <li>
            <img src="https://cdn0.iconfinder.com/data/icons/long-shadow-web-icons/512/ruby-512.png" alt="ruby">
            <p>Ruby</p>
          </li>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/ruby-on-rails-512.png" alt="ruby on rails">
            <p>Ruby on Rails</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="react">
            <p>React</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-512.png" alt="Python">
            <p>Python</p>
          </li>
        </ul>
      </div>
      <div class="songwriter-skills-right">
        <ul>
          <li>
            <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/aws-512.png" alt="AWS">
            <p>
              Amazon Web Services (AWS)
            </p>
          </li>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-77-512.png" alt="SQL">
            <p>SQL</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/postgresql-512.png" alt="postgresql">
            <p>Postgresql</p>
          </li>
          <li>
            <img src="https://cdn.iconscout.com/icon/free/png-256/heroku-5-569467.png" alt="heroku">
            <p>Heroku</p>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/136-adobe-512.png" alt="Adobe">
            <p>Adobe Illustrator</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="songwriter-right">
      <img class="card-img" src="<%= image_path('songwriter.JPG') %>" alt="songwriter">
    </div>
  </div>
</div>